<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FKA- To-Do List Uygulamam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcToDoList.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="wwwroot/icons/favicon.ico">
</head>
<body style="background-color: #FF7F00">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #cacfcf">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item ms-3">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                        <li class="mx-3"> 
                            
                            <a class="nav-link text-dark fs-5" asp-controller="ToDoList" asp-action="Index">FKA-To-Do List Sayfasına Hoş Geldiniz</a>
                        </li>
                        <li class="nav-item dropdown"> 
							
                            <a class="nav-link dropdown-toggle text-dark fs-5"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
							
                                --Takvimim--
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="nav-link text-dark" asp-controller="ToDoList" asp-action="Today">Bugün</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-controller="ToDoList" asp-action="UpcomingWeek">Gelecek Planlarım</a>
                                </li>
                            </ul>
                        </li>
                       
                        @*<li>
                            <a class="nav-link text-dark" asp-controller="ToDoList" asp-action="Today">Bugün</a>
                            </li>
                            <li>
                            <a class="nav-link text-dark" asp-controller="ToDoList" asp-action="UpcomingWeek">Gelecek Planlarım</a>
                            </li>*@@*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #ffffff">
        <div class="container" style="display: flex; justify-content: center;">
            &copy; Fırat Kalkınma Ajansı Destekli C# Eğitimi Proje Ödevim. Hazırlayan: Arda Atik -2023- <img src="~/icons/img1.jpeg" width="80" height="80" />  <img src="~/icons/img2.jpeg" width="80" height="80" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
