@model MvcToDoList.Models.ToDoList

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit To-Do</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-md-7">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Model.StatusList" class="form-select"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-md-7">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" asp-items="Model.PriorityList" class="form-select"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Assgignee" class="control-label"></label>
                <input asp-for="Assgignee" class="form-control" />
                <span asp-validation-for="Assgignee" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-md-7">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 col-md-7">
                <label asp-for="CompleteBy" class="control-label"></label>
                <input asp-for="CompleteBy" class="form-control" />
                <span asp-validation-for="CompleteBy" class="text-danger"></span>
            </div>
            <br />
            <div class="d-flex">
                <div>
                    <a asp-action="Index" class="btn btn-secondary"> 
                        <i class="bi bi-chevron-left"></i> Back</a>
                </div>
                <div class="ms-auto">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
